<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contactanos</title>

    <!-- CSS de Bootstrap -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../resources/css/contacto.css" rel="stylesheet">

</head>

<body>

  <div class="col-md-5 mt-md-0 mt-3" style="position:absolute; top:10%; left:30%">
    <p align="justify">
          La Secretaría Administrativa de la Facultad de Ingeniería de Sistemas Computacionales 
          realiza un sinnúmero de actividades de apoyo relacionadas con el normal desenvolvimiento 
          de las funciones docentes, de investigación, administrativa y de servicio de la Facultad.
    </p>

    <h3 class="text-uppercase" align="center">Contacto con las secretarias</h3>

    <p align="center"><strong>Secretaria Administrativa</strong><br>
      Lic. Marisol Cedeño<br>
      <u>marisol.cedeno@utp.ac.pa</u></p>
    <p align="center"><strong>Asistentes de Secretaría</strong><br>
      Claribel Pimentel<br>
      <u> claribel.pimentel@utp.ac.pa</u></p>
  </div>


    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>